VITE_NODE_ENV=dev

VITE_APP_URL=http://localhost:5173

# S3
VITE_S3_ENDPOINT=http://127.0.0.1:9000
VITE_S3_BUCKET=calypso
VITE_S3_REGION=us-east-1

# Tanstack Query
VITE_API_STALE_TIME=1
VITE_API_GC_TIME=5

#  Local Storage
VITE_THEME_LS_KEY=theme
