# Dependencies & Build
node_modules/
dist/
*.tsbuildinfo
.turbo/
scripts/

# Tests & Logs
test/
coverage/
*.log

# Environment
*.env
*.env.*
!.env.example

# Docs
docs/
.storybook/
readme.md
license

# Git
.git/
.gitignore
.github/

# IDE Files
.cursor/
.vscode/
.ide/

# Data
data/
assets/
