# Gateway
GATEWAY_SERVICE_APP_URL=
GATEWAY_SERVICE_APP_PORT=

## Cookie
COOKIE_HTTP_ONLY=
COOKIE_SECURE=
ACCESS_COOKIE_EXPIRATION=
REFRESH_COOKIE_EXPIRATION=

## Postgres
GATEWAY_SERVICE_SQL_DB_NAME=
GATEWAY_SERVICE_SQL_DB_HOST=
GATEWAY_SERVICE_SQL_DB_PORT=
GATEWAY_SERVICE_SQL_DB_USER=
GATEWAY_SERVICE_SQL_DB_PASS=

## JWT
JWT_SECRET=
ACCESS_JWT_EXPIRATION=
REFRESH_JWT_EXPIRATION=


## E2e
E2E_USE_DOCKER=


# Boards Service
BOARDS_SERVICE_GRPC_URL=

## Postgres
BOARDS_SERVICE_SQL_DB_NAME=
BOARDS_SERVICE_SQL_DB_HOST=
BOARDS_SERVICE_SQL_DB_PORT=
BOARDS_SERVICE_SQL_DB_USER=
BOARDS_SERVICE_SQL_DB_PASS=

## MongoDB
BOARDS_SERVICE_NOSQL_DB_NAME=
BOARDS_SERVICE_NOSQL_DB_HOST=
BOARDS_SERVICE_NOSQL_DB_PORT=

## RabbitMQ
BOARDS_SERVICE_RMQ_QUEUE=



# Media Service
MEDIA_SERVICE_GRPC_URL=

## Assets
ASSETS_DIR=

## Postgres
MEDIA_SERVICE_SQL_DB_NAME=
MEDIA_SERVICE_SQL_DB_HOST=
MEDIA_SERVICE_SQL_DB_PORT=
MEDIA_SERVICE_SQL_DB_USER=
MEDIA_SERVICE_SQL_DB_PASS=



# Infrastructure

## RabbitMQ
RMQ_URLS=
RMQ_PORT=
RMQ_MANAGEMENT_PORT=

## Minio
S3_USER=
S3_PASS=
S3_REGION=
S3_ENDPOINT=
S3_BUCKET=
S3_PORT=
S3_UI_PORT=
S3_ACCESS_KEY=
S3_SECRET_KEY=


# Web
WEB_URL=

## Api
WEB_API_STALE_TIME=
WEB_API_GC_TIME=

## LocalStorage
WEB_THEME_LS_KEY=


