# Gateway
GATEWAY_SERVICE_APP_PORT=

## Cookie
GATEWAY_SERVICE_COOKIE_HTTP_ONLY=
GATEWAY_SERVICE_COOKIE_SECURE=
GATEWAY_SERVICE_ACCESS_COOKIE_EXPIRATION=
GATEWAY_SERVICE_REFRESH_COOKIE_EXPIRATION=

## Supabase
GATEWAY_SERVICE_SUPABASE_URL=
GATEWAY_SERVICE_SUPABASE_KEY=





# Boards Service
BOARDS_SERVICE_APP_URL=
BOARDS_SERVICE_APP_PORT=

## Postgres
BOARDS_SERVICE_SQL_DB_NAME=
BOARDS_SERVICE_SQL_DB_HOST=
BOARDS_SERVICE_SQL_DB_PORT=
BOARDS_SERVICE_SQL_DB_USER=
BOARDS_SERVICE_SQL_DB_PASS=

## MongoDB
BOARDS_SERVICE_NOSQL_DB_NAME=
BOARDS_SERVICE_NOSQL_DB_HOST=
BOARDS_SERVICE_NOSQL_DB_PORT=

## RabbitMQ
BOARDS_SERVICE_RMQ_QUEUE=



# RabbitMQ
RMQ_URLS=


# Web
WEB_URL=

## LocalStorage
WEB_BOARD_LS_KEY=
WEB_THEME_LS_KEY=
