# Gateway
GATEWAY_SERVICE_APP_URL=http://localhost:4000
GATEWAY_SERVICE_APP_PORT=4000

## Cookie
COOKIE_HTTP_ONLY=true
COOKIE_SECURE=false
COOKIE_SAME_SITE=lax
ACCESS_COOKIE_EXPIRATION=1d
REFRESH_COOKIE_EXPIRATION=10d

# JWT
JWT_SECRET=sHLDeuhfnjgrmdzhpxrajdsrmuehfnrt
ACCESS_JWT_EXPIRATION=1d
REFRESH_JWT_EXPIRATION=10d

# Swagger
SWAGGER_PATH=/api/docs
SWAGGER_TITLE=Gateway
SWAGGER_DESCRIPTION=Gateway Service
SWAGGER_VERSION=1.0.0
SWAGGER_TAGS=auth,boards,media

## Postgres
GATEWAY_SERVICE_SQL_DB_NAME=gateway
GATEWAY_SERVICE_SQL_DB_HOST=localhost
GATEWAY_SERVICE_SQL_DB_PORT=5431
GATEWAY_SERVICE_SQL_DB_USER=root
GATEWAY_SERVICE_SQL_DB_PASS=123456



# Boards Service
BOARDS_SERVICE_GRPC_URL=localhost:50051
BOARD_NODES_SERVICE_GRPC_URL=localhost:50052
BOARDS_SERVICE_RMQ_QUEUE=boards

## Postgres
BOARDS_SERVICE_SQL_DB_NAME=boards
BOARDS_SERVICE_SQL_DB_HOST=localhost
BOARDS_SERVICE_SQL_DB_PORT=5432
BOARDS_SERVICE_SQL_DB_USER=root
BOARDS_SERVICE_SQL_DB_PASS=123456

## MongoDB
BOARDS_SERVICE_NOSQL_DB_NAME=nodes
BOARDS_SERVICE_NOSQL_DB_HOST=localhost
BOARDS_SERVICE_NOSQL_DB_PORT=27012

## Redis
BOARDS_SERVICE_REDIS_HOST=localhost
BOARDS_SERVICE_REDIS_PORT=6379
BOARDS_SERVICE_REDIS_DEFAULT_TTL=600



# Media Service
MEDIA_SERVICE_GRPC_URL=localhost:50057
ASSETS_DIRECTORY=assets

## Postgres
MEDIA_SERVICE_SQL_DB_NAME=media
MEDIA_SERVICE_SQL_DB_HOST=localhost
MEDIA_SERVICE_SQL_DB_PORT=5437
MEDIA_SERVICE_SQL_DB_USER=root
MEDIA_SERVICE_SQL_DB_PASS=123456

## Redis
MEDIA_SERVICE_REDIS_HOST=localhost
MEDIA_SERVICE_REDIS_PORT=6380
MEDIA_SERVICE_REDIS_DEFAULT_TTL=600



# Infrastructure

## RabbitMQ
RMQ_URLS=amqp://localhost:5672
RMQ_PORT=5672
RMQ_MANAGEMENT_PORT=15672

## Minio
S3_USER=admin
S3_PASS=password123456
S3_REGION=us-east-1
S3_ENDPOINT=http://127.0.0.1:9000
S3_BUCKET=calypso
S3_PORT=9000
S3_UI_PORT=9001
S3_ACCESS_KEY=accesskey
S3_SECRET_KEY=secretkey
S3_URL_EXPIRATION=3600



# Web
WEB_URL=http://localhost:5173

## @tanstack/react-query
WEB_API_STALE_TIME=1
WEB_API_GC_TIME=5

## Locat Storage
WEB_THEME_LS_KEY=theme


