# Dependencies
node_modules

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Turbo
.turbo

# IDE - VSCode
.vscode/*
!.vscode/*.code-snippets
!.vscode/extensions.json
!.vscode/extensions-config.md

# Debug
logs
*.log
