# dependencies
**/node_modules

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# env files (can opt-in for committing if needed)
.env

# typescript
next-env.d.ts
tsconfig.tsbuildinfo

.vscode/*
*storybook.log
storybook-static

!.vscode/*.code-snippets
!.vscode/extensions.json
!.vscode/extensions-config.md