# Dependencies and data
node_modules
data/

# Editor configuration
.vscode/settings.json
/.idea

# Build
.turbo
dist
*.tsbuildinfo

# Testing
coverage/

# Env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local