NODE_ENV=dev

GRPC_URL=media-service:50057

# Presets
ASSETS_DIRECTORY=assets

# Postgres
SQL_DB_NAME=media
SQL_DB_HOST=media-sql-db
SQL_DB_PORT=5437
SQL_DB_USER=root
SQL_DB_PASS=123456

# Redis
REDIS_HOST=media-cache
REDIS_PORT=6380
REDIS_DEFAULT_TTL=600

# Logging
APP_LABEL=media-service
LOKIURL=loki-url
