# App
APP_PORT=4000


# Cookie
COOKIE_HTTP_ONLY=true
COOKIE_SECURE=true
ACCESS_COOKIE_EXPIRATION=1d
REFRESH_COOKIE_EXPIRATION=10d


# Postgres
SQL_DB_NAME=gateway
SQL_DB_HOST=gateway-slq-db
SQL_DB_PORT=5432
SQL_DB_USER=root
SQL_DB_PASS=123456


# JWT
JWT_SECRET=sHLDeuhfnjgrmdzhpxrajdsrmuehfnrt
ACCESS_JWT_EXPIRATION=1d
REFRESH_JWT_EXPIRATION=10d


# Boards Service
BOARDS_SERVICE_GRPC_URL=boards-service:50051


# Media Service 
MEDIA_SERVICE_GRPC_URL=media-service:50059


# RabbitMQ
RMQ_URLS=amqp://rabbitmq:5672


# Frontend
FRONTEND_URL=http://localhost:3000


