# gRPC
GRPC_URL=boards-service:50051


# Postgres
SQL_DB_NAME=boards
SQL_DB_HOST=boards-slq-db
SQL_DB_PORT=5432
SQL_DB_USER=root
SQL_DB_PASS=123456


# MongoDB
NOSQL_DB_NAME=nodes
NOSQL_DB_HOST=boards-nosql-db
NOSQL_DB_PORT=27017


# RabbitMQ
RMQ_QUEUE=boards
RMQ_URLS=amqp://rabbitmq:5672


