NODE_ENV=dev

BOARDS_SERVICE_GRPC_URL=localhost:50051
BOARD_NODES_SERVICE_GRPC_URL=localhost:50052
BOARDS_SERVICE_RMQ_QUEUE=boards

# Postgres
SQL_DB_NAME=boards
SQL_DB_HOST=localhost
SQL_DB_PORT=5432
SQL_DB_USER=root
SQL_DB_PASS=123456

# MongoDB
NOSQL_DB_NAME=nodes
NOSQL_DB_HOST=localhost
NOSQL_DB_PORT=27012

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DEFAULT_TTL=600

# RabbitMQ
RMQ_URLS=amqp://localhost:5672
RMQ_QUEUE=boards
