APP_PORT=4001

SQL_DB_NAME=boards
SQL_DB_HOST=localhost
SQL_DB_PORT=5432
SQL_DB_USER=root
SQL_DB_PASS=123456

NOSQL_DB_HOST=localhost
NOSQL_DB_PORT=27017
NOSQL_DB_NAME=nodes

RMQ_URLS=amqp://localhost:5672@root:123456
RMQ_QUEUE=boards